@model ShoppingApp.ViewModels.ResetPasswordSellerViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>Reset Seller Password</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SellerName" class="control-label"></label>
                <h5> @Model.SellerName</h5>
                <input asp-for="SellerName" type="hidden"  class="form-control" />

            </div>

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">New Password</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <br />
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
